*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-align: left;
    
}
.content{
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    background-image: url('C:\Users\admin\Desktop\toddle\toddle\src\img\bg1.jpg');
    background-size:cover;
    height: 100vh;
}
.boards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-column-gap: 5vh;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.board{
    border:1px solid grey;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor:pointer;
    display: flex;

}
